%h1 New user

- form_for(@user) do |f|
	= f.error_messages 

	%fieldset
		%legend Enter User Details
		%div
			= f.label :name, 'Name:'
			= f.text_field :name, :size => 40
		%div
			= f.label :password, 'Password:'
			= f.password_field :password, :size => 40
		%div
			= f.label :password_confirmation, 'Confirm:'
			= f.password_field :password_confirmation, :size => 40
		%div
			= f.submit 'Add User', :class => "submit"

= link_to 'Back', users_path